# =========================
# Visual Studio
# =========================
.vs/
.vsconfig
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# =========================
# OS / 一時ファイル
# =========================
.DS_Store
Thumbs.db

# =========================
# コンパイル関連
# =========================
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa

# =========================
# Unreal Engine 生成物
# =========================
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# プラグインの生成物
Plugins/**/Binaries/
Plugins/**/Intermediate/

# =========================
# Build関連
# =========================
Build/*

# PakBlacklistのみ許可
!Build/*/
!Build/*/PakBlacklist*.txt

# アイコンは許可
!Build/**/*.ico

# =========================
# プロジェクトファイル（自動生成）
# =========================
*.xcodeproj
*.xcworkspace
*.sln

# =========================
# アセット関連
# =========================
*_BuiltData.uasset

# =========================
# SourceArt（必要なら外してOK）
# =========================
SourceArt/**/*.png
SourceArt/**/*.tga

# =========================
# ログ
# =========================
*.log